@media (max-width: 1350px) {
    .calc__form_inputs {
        row-gap: 32px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 119px 119px 119px 81px 68px;
    }
    .calc__title {
        margin-bottom: 44px;
    }
    .media-full {
        grid-column: 1 / 3;
    }
    .media-second-half {
        grid-column: 2 / 3;
    }
    .button-block {
        width: 345px;
    }
}

@media(max-width: 992px) {
    .calc__title {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .calc {
        width: calc(100% - 72px);
    }
}

@media (max-width: 700px) {
    .calc__title {
        width: 350px;
    }
    .calc__form_inputs {
        row-gap: 32px;
        grid-template-columns: 1fr;
        grid-template-rows: 119px 119px 119px 81px 81px 68px;
    }
    .media-first-half {
        grid-column: 1 / 2;
    }
    .media-second-half {
        grid-column: 1 / 2;
    }
}

@media (max-width: 576px) {
    .calc {
        width: calc(100% - 40px);
    }
    .calc__form_inputs {
        row-gap: 16px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 91px 91px 91px 41px 41px 60px;
    }
    .calc__title {
        font-size: 34px;
        width: 279px;
    }
    .calc__form_inputs_block-title {
        font-size: 14px;
    }
    .calc__other_block-number {
        font-size: 22px;
    }
    .input__group .text {
        font-size: 22px;
        height: 60px;
    }
    .input__group .input__group_descr {
        font-size: 22px;
        line-height: 20px;
    }
    .media-first-half {
        grid-column: 1 / 3;
        row-gap: 2px;
    }
    .media-second-half {
        grid-column: 1 / 3;
        row-gap: 2px;
    }
    .button-block {
        width: 100%;
    }
    .button-block button {
        font-size: 22px;
    }
}